<div class="container">
  <div class="row">
    <div class="col-5 align-self-center">
      <p><br></p>
      <img class="img-fluid d-block mx-auto" src="assets/image/account_settings/no-avatar.png">
      <button class="col-3 col-sm-5 text-center px-3 py-2 px-sm-3 py-sm-3 bg-style">
        <strong>ADD</strong></button>

    </div>
    <div  class=" col-7 align-self-center ">
    <div class="bg-style">

      <div class="row ">
        <div class="col-2 float-left mr-auto">
          <div>
            <img src="assets/image/account_settings/fingerprint.png">
          </div>
        </div>
        <div class="col-3 align-self-center">
          username
        </div>
        <div class="col-5 align-self-center">
          {{user.username}}
        </div>
        <div class="col-2">
          <div>

          </div>
        </div>


        <div class="col-2 float-left">
          <div>
            <img src="assets/image/account_settings/monkey.png">
          </div>
        </div>
        <div class="col-3 align-self-center">
          E-mail
        </div>
        <div class="col-5 align-self-center">
          {{user.email}}
        </div>
        <div class="col-2 mr-auto">
          <div>
            <img src="assets/image/account_settings/pencil.png">
          </div>
        </div>
      </div>

      <div class="row ">
            <div class="col-2 float-left">
              <div>
                <img src="assets/image/account_settings/key.png">
              </div>
            </div>
            <div class="col-3 align-self-center">
              Password
            </div>
            <div class="col-5 align-self-center">
              ######
            </div>
            <div class="col-2 mr-auto">
              <div>
                <img src="assets/image/account_settings/pencil.png">
              </div>
            </div>
          </div>
      <div class="row ">
        <div class="col-2 float-left mr-auto">
          <div>
            <img src="assets/image/account_settings/person.png">
          </div>
        </div>
        <div class="col-3  align-self-center">
          Name
        </div>
        <div class="col-5 align-self-center">

        </div>
        <div class="col-2">
          <div>
            <img src="assets/image/account_settings/pencil.png">
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-2 float-left mr-auto">
          <div>
            <img src="assets/image/account_settings/person_in_circle.png">
          </div>
        </div>
        <div class="col-3 align-self-center">
          Surname
        </div>
        <div class="col-5 align-self-center">

        </div>
        <div class="col-2 mr-auto">
          <div>
            <img src="assets/image/account_settings/pencil.png">
          </div>
        </div>
      </div>



        </div>


      </div>
    </div>
    </div>



