<div class="limiter">
  <div class="container-login">
    <div class="wrap-login pt-0">

      <img class="img-fluid d-block mx-auto" src="../assets/logo2.png" alt="logo">
      <span class="login-form-title mt-0 mb-5 text-white">Cooksy</span>

      <nav>
          <button class="block-btn d-block m-3 p-4 bg-primary text-white" routerLink="/login" routerLinkActive="active">Login</button>
          <button class="block-btn d-block mt-5 m-3 p-4 bg-dark text-white"routerLink="/register" routerLinkActive="active">Register</button>
      </nav>

    </div>
  </div>
</div>
